* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: sans-serif;
}

body {
  background: rgba(0, 0, 0, 0.87);
}

.container-buttons {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

button {
  border: none;
  border-radius: 5px;
  font-size: 15px;
  padding: 10px;
  margin: 5px;
  background-color: #79cb15;
  color: black;
  font-weight: bold;
  padding: 10px;
  width: 115px;
  cursor: pointer;
}
button:hover {
  opacity: 0.9;
}
button:active {
  opacity: 0.7;
}

img {
  width: 120px;
  height: 120px;
  border-radius: 10px;
}

ul {
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: 200px 200px 200px;
  list-style: none;
}

.burguer-price {
  color: #53be21;
  font-weight: bold;
  margin-top: 5px;
}

.burguer-name {
  margin-top: 5px;
  font-size: 16px;
  font-weight: bold;
}

.list {
  border: 3px solid #8133ff;
  margin: 30px;
  padding: 10px;
  border-radius: 10px;
  width: fit-content;
}
